<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    
    <property name="hibernate.connection.url">jdbc:mysql://192.168.123.152:3306/bookstoredb</property>
    
    <property name="hibernate.connection.username">username</property>
    <property name="hibernate.connection.password">password</property>
    
    
    <mapping class="bookstore.model.CategoryDaoHibernate" />
    <mapping class="bookstore.model.CustomerDaoHibernate" />
    <mapping class="bookstore.model.OrdersDaoHibernate" />
    <mapping class="bookstore.model.OrderDetailDaoHibernate" />
    <mapping class="bookstore.model.ProductDaoHibernate" />
    
    
  </session-factory>
</hibernate-configuration>
